{% extends 'new/base.html' %}

{% block title %} Контакты {% endblock title %}

{% load static %}

{% block content %}
<section class="d-flex flex-column" style="width: 100%; padding: 0px 20px;">
    <h1 style="font-weight: 600; font-size: 56px;">Корзина</h1>
    <div class="d-flex flex-column">
        <h2 style="font-size: 24px; color: #FF0000; margin: 60px 0px 20px 0px;">На складе недостаточно товара, выберите меньшее количество </h2>
        <a href="" style="width: 230px; display: block; padding: 12px 24px; background-color: #4369EF; color: #fff; border-radius: 12px; font-weight: 600;">Вернуться в магазин</a>
    </div>
</section>
{% endblock content %}