@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
}

body.auth {
    background: url('img/auth-bg.jpg') 0 0/100% auto no-repeat;
}

.login {
    padding: 40px 40px;
    background: #fff;
    border-radius: 24px;
    width: 100%;
    max-width: 528px;
    margin: auto;
}

.login .title {
    text-align: center;
    margin-bottom: 40px;
}

.login_input{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 8px;
    margin: 14px 0px;
    transition: all 0.3s;
}

.login_input img{
    vertical-align: middle;
}

.login_input input{
    border: 0px none;
    outline: 0px none;
    font-size: 16px;
}

.form_recovery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 25px;
}

.form_recovery a {
    color: #95D5EC;
    text-decoration: none;
}

button.login_button {
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: #95D5EC;
    color: #000;
    padding: 10px 16px;
    font-size: 18px;
}


a.login_button {
    display: block;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #95D5EC;
    margin: 0 auto;
    font-size: 18px;
    color: #000000;
    text-align: center;
    text-decoration: none;
}


.form__agent {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__agent p{
    margin: 0;
}

.form__agent a{
    color: #95D5EC;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.support {
    max-width: 528px;
    margin: 10px auto; 
    text-align: center; 
    font-size: 12px;
}