{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440, initial-scale=0.8" name='MobileOptimized'>
    <link rel="stylesheet" href="{% static 'test/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <section class="home">
            <div class="navbar">
                <div class="navbar_content">
                    <div class="navbar_brand">
                        <img src="{% static 'test/img/logo_petr.png' %}" alt="">
                    </div>
                    <div class="navbar_profile">
                        <div class="ava">
                            <img src="{% static 'test/img/user.png' %}" alt="">
                            <a href=""><img src="{% static 'test/img/ico/pen.svg' %}" alt="">Изменить</a>
                        </div>
                        <p>Иванов Иван</p>
                    </div>
                    <div class="navbar_links">
                        <nav>
                            <ul>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/orders.svg' %}" alt="">
                                        <a href="">Заказы</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/settings.svg' %}" alt="">
                                        <a href="">Настройка уведомлений</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/store.svg' %}" alt="">
                                        <a href="">Магазин</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/state.svg' %}" alt="">
                                        <a href="">Статистика</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/services.svg' %}" alt="">
                                        <a onclick="this.parentNode.nextElementSibling.style.display = 'block';return false;" href="">Сервисы</a>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="">Гарантийный талон</a>
                                            <img src="{% static 'test/img/ico/arrow-right.svg' %}" alt="">
                                        </li>
                                        <li>
                                            <a href="">Гарантийный талон</a>
                                        </li>
                                        <li>
                                            <a href="">Гарантийный талон</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/finance.svg' %}" alt="">
                                        <a href="">Финансы</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/contacts.svg' %}" alt="">
                                        <a href="">Контакты</a>
                                    </div>
                                </li>
                                <hr class="border">
                                <li class="nav_link not-img">
                                    <a href="">Профильные системы</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="">Учебные материалы</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="">Сертификаты и протоколы</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="">Видеообучение</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="{% url 'logout_core_view' %}">Выйти с учетной записи</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="header">
                    <nav class="menu">
                        <a href="" class="menu_link">Главная</a>
                        <a href="" class="menu_link">Новинки</a>
                        <a href="" class="menu_link menu_link_active">Инструкции</a>
                        <a href="" class="menu_link">Оплатить заказ</a>
                    </nav>
                    <div class="service-icons">
                        <a href=""><img src="{% static 'test/img/ico/bell.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'test/img/ico/phone-Light.svg' %}" alt=""></a>
                    </div>
                </div>
                <section class="insection">
                    <div class="new-items">
                        <p class="title">Учебные материалы</p>
                        {% for learn in learns %}
                        <div class="new-item">
                            <img class="date" src="img/ico/calendar-Regular.svg" alt="">
                            <p class="new-item_date">{{ learn.date|date:'d.m.Y' }}</p>
                            <div>
                                <p>{{ learn.title }}</p>
                                <a href="{{ learn.file.url }}" class="download">Скачать<img src="img/ico/download.svg" alt=""></a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </section>
    </div>
</body>
</html>