{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440, initial-scale=0.8" name='MobileOptimized'>
    <link rel="stylesheet" href="{% static 'test/style.css' %}">
    <title>Document</title>
</head>
<body class="auth">
    <img src="img/petr_logo.png" alt="">
    <div class="login">
        <h1 class="title">Зарегистрироваться</h1>
        <form action="">
            <div class="login_input">
                <input type="text" placeholder="Имя и Фамилия">
            </div>
            <div class="login_input">
                <input type="text" placeholder="Номер телефона">
            </div>
            <div class="login_input">
                <input type="text" placeholder="E-mail">
            </div>
            <button type="submit">Зарегистрироваться</button>
        </form>
    </div>
    <p class="support">Если у Вас возникли проблемы со входом, просим связаться по номеру телефона +7(903) 775-52-89 Токарев Роман Или напишите нашей техподдержке it@okna-petrov.ru 
    </p>
</body>
</html>