{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440, initial-scale=0.8" name='MobileOptimized'>
    <link rel="stylesheet" href="{% static 'test/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <section class="home">
            <div class="navbar">
                <div class="navbar_content">
                    <div class="navbar_brand">
                        <img src="{% static 'test/img/logo_petr.png' %}" alt="">
                    </div>
                    <div class="navbar_profile">
                        <div class="ava">
                            <img src="{% static 'test/img/user.png' %}" alt="">
                            <a href=""><img src="{% static 'test/img/ico/pen.svg' %}" alt="">Изменить</a>
                        </div>
                        <p>Иванов Иван</p>
                    </div>
                    <div class="navbar_links">
                        <nav>
                            <ul>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/orders.svg' %}" alt="">
                                        <a href="">Заказы</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/settings.svg' %}" alt="">
                                        <a href="">Настройка уведомлений</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/store.svg' %}" alt="">
                                        <a href="">Магазин</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/state.svg' %}" alt="">
                                        <a href="">Статистика</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/services.svg' %}" alt="">
                                        <a onclick="this.parentNode.nextElementSibling.style.display = 'block';return false;" href="">Сервисы</a>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="">Гарантийный талон</a>
                                            <img src="{% static 'test/img/ico/arrow-right.svg' %}" alt="">
                                        </li>
                                        <li>
                                            <a href="">Гарантийный талон</a>
                                        </li>
                                        <li>
                                            <a href="">Гарантийный талон</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/finance.svg' %}" alt="">
                                        <a href="">Финансы</a>
                                    </div>
                                </li>
                                <li class="nav_link">
                                    <div>
                                        <img src="{% static 'test/img/ico/contacts.svg' %}" alt="">
                                        <a href="">Контакты</a>
                                    </div>
                                </li>
                                <hr class="border">
                                <li class="nav_link not-img">
                                    <a href="">Профильные системы</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="">Учебные материалы</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="">Сертификаты и протоколы</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="">Видеообучение</a>
                                </li>
                                <li class="nav_link not-img">
                                    <a href="{% url 'logout_core_view' %}">Выйти с учетной записи</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="header">
                    <nav class="menu">
                        <a href="" class="menu_link">Главная</a>
                        <a href="" class="menu_link">Новинки</a>
                        <a href="" class="menu_link">Инструкции</a>
                        <a href="" class="menu_link menu_link_active">Оплатить заказ</a>
                    </nav>
                    <div class="service-icons">
                        <a href=""><img src="{% static 'test/img/ico/bell.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'test/img/ico/phone-Light.svg' %}" alt=""></a>
                    </div>
                </div>
                <section class="shapesection">
                    <div class="shapes">
                        <div class="items">
                            {% for shape in items %}
                            <div class="item">
                                <img src="{{ shape.photo.url }}" style="border-radius: 50px;" width="323" height="303" alt="">
                                <p class="name">{{ shape.name }}</p>
                                <div class="proof">
                                    <p class="title">Теплоизоляция</p>
                                    <ul>
                                        {% for i in range %}
                                        <li {% if i <= shape.warm_proofing %} class="active" {% endif %}></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="proof">
                                    <p class="title">Теплоизоляция</p>
                                    <ul>
                                        {% for i in range %}
                                        <li {% if i <= shape.sound_proofing %} class="active" {% endif %}></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <button onclick="this.nextElementSibling.style.display = 'block'; this.style.borderRadius = '0px 0px 50px 50px'">Подробнее</button>
                                <div class="item_popup">
                                    <img src="{% static 'test/img/ico/exit.svg' %}" onclick="this.parentNode.style.display = 'none'; this.parentNode.previousElementSibling.style.borderRadius = '15px'" alt="">
                                    <p class="name">{{ shape.name }}</p>
                                    <div class="attr">
                                        <p>Количество камер</p>
                                        <p>{{ shape.camera }}</p>
                                    </div>
                                    <div class="attr">
                                        <p>Ширина профиля</p>
                                        <p>{{ shape.shape_width }}</p>
                                    </div>
                                    <div class="attr">
                                        <p>Высота рамы</p>
                                        <p>{{ shape.shape_height }}</p>
                                    </div>
                                    <div class="attr">
                                        <p>Ширина стеклопакета</p>
                                        <p>{{ shape.width_glaze }}</p>
                                    </div>
                                    <div class="attr">
                                        <p>Шумоизоляция</p>
                                        <p>{{ shape.sound_proofing_dc }}</p>
                                    </div>
                                    <div class="attr">
                                        <p>Сопротивление теплопередачи</p>
                                        <p>{{ shape.warm_proofing_dc }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            
                            
                        </div>
                        <div class="pagination">
                            {% if items.has_previous %}
                                <a class="arrow" href="?page={{ items.previous_page_number }}"><img src="{% static 'test/img/ico/left_arrow.svg' %}" alt=""></a>
                            {% endif %}
                            {% for i in items.paginator.page_range %}
                                {% if i > items.number|add:-5 and i < items.number|add:10 %}
                                    {% if items.number == i %}
                                        <div class="pagination_item pagination_item_active">
                                            <a href="">{{ items.number }}</a>
                                        </div>
                                    {% else %}
                                        <div class="pagination_item">
                                            <a href="?page={{ i }}">{{ i }}</a>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                            {% if items.has_next %}
                                <a class="arrow" href="?page={{ items.next_page_number }}"><img src="{% static 'test/img/ico/right_arrow.svg' %}" alt=""></a>
                            {% endif %}
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </div>
</body>
</html>