{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=1440">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="auth">
        <img src="{% static 'img/petr_logo.png' %}" alt="">
        <form class="auth__form" action="{% url 'signup' %}" method="post">
            {% csrf_token %}
            <h1 class="auth__title">Зарегистрироваться</h1>
            <div class="auth__input">
                {{ form.fullName }}
            </div>
            <div class="auth__input">
                {{ form.phone }}
            </div>
            {{ form.phone.errors }}
            <div class="auth__input">
                {{ form.email }}
            </div>
            {{ form.email.errors }}
            <button class="auth__button" type="submit">Зарегистрироваться</button>
        </form>
        <p class="support">Если у Вас возникли проблемы со входом, просим связаться по номеру телефона +7(903) 775-52-89 Токарев Роман Или напишите нашей техподдержке it@okna-petrov.ru</p>
    </div>
</body>
</html>