{% extends 'base.html' %}

{% block title %} Создание рекламации {% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <form class="ads-create col-xl-10 d-flex flex-column" method="post" action="{% url 'ads-create' '123' %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="ads-create__title">Рекламации по заказу</div>
            <div class="ads-create__data">Автор рекламации: <span>{{ request.user.diler.fullName }}</span></div>
            <div class="ads-create__data">№ заказа: <span>{{ order_name }}</span></div>
            <div class="ads-create__data">E-mail автора: <span>{{ request.user.diler.email }}</span></div>
            <div class="ads-create__data">Телефон автора: <span>{{ request.user.diler.phone }}</span></div>
            <textarea class="col-xl-10" name="comment" id="" cols="20" rows="10" placeholder="Опишите что произошло в свободной форме"></textarea>
            <input name="order_name" type="text" value="{{ order_name }}" hidden>
            <div class="upload-files d-flex">
                <div class="upload-files__title">Прикрепить файлы рекламации</div>
                <div class="upload-files__btn" onclick="document.querySelector(`input[name='file1']`).click()">
                    <input type="file" name="file1" hidden>
                    <img src="{% static 'img/ico/clip.svg' %}" alt="">
                </div>
                <div class="upload-files__btn" onclick="document.querySelector(`input[name='file2']`).click()">
                    <input type="file" name="file2" hidden>
                    <img src="{% static 'img/ico/clip.svg' %}" alt="">
                </div>
                <div class="upload-files__btn" onclick="document.querySelector(`input[name='file3']`).click()">
                    <input type="file" name="file3" hidden>
                    <img src="{% static 'img/ico/clip.svg' %}" alt="">
                </div>
                <div class="upload-files__btn" onclick="document.querySelector(`input[name='file4']`).click()">
                    <input type="file" name="file4" hidden>
                    <img src="{% static 'img/ico/clip.svg' %}" alt="">
                </div>
                <div class="upload-files__btn" onclick="document.querySelector(`input[name='file5']`).click()">
                    <input type="file" name="file5" hidden>
                    <img src="{% static 'img/ico/clip.svg' %}" alt="">
                </div>
            </div>
            <button class="ads-create__btn col-xl-2" type="submit">Создать</button>
        </form>
    </div>
{% endblock content %}
