{% extends 'base.html' %}

{% block title %} Рекламации {% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <form action="{% url 'ads-id' %}" class="talon col-xl-10" method="post">
            {% csrf_token %}
            <div class="profile__title">Создать рекламации</div>
            <div class="col-xl-5">
                <div class="d-flex flex-column">
                    <div class="auth__input col-xl-10">
                        {{ form.order_name }}
                        <input type="text" value="{{ request.user.diler.seller_code }}" name="s_code" hidden>
                    </div>
                    {{ form.order_name.errors }}
                    <button class="col-xl-4" type="submit">Подтвердить</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}