{% extends 'base.html' %}

{% block title %} Рекламации {% endblock title %}

{% load static %}
{% load custom_tags %}
{% block content %}
    <div class="row">
        <div class="col-xl-10">
            <div class="ads-info"><img src="{% static 'img/ico/info.svg' %}" alt=""> Уважаемые дилеры <br> Перед созданием рекламации просьба ознакомиться с инструкцией, чтобы не получить автоотказ</div>
            <div class="d-flex justify-content-evenly">
                <button class="ads-info-btn1" onclick="window.location.pathname = '/media/learn/instructions/%D0%B8%D0%BD%D1%81%D1%82%D1%80%D1%83%D0%BA%D1%86%D0%B8%D1%8F_%D0%BB%D0%BA.docx'">Инструкция</button>
                <button class="ads-info-btn2" onclick="window.location.pathname = '/ads-id/'">Подать рекламацию</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex flex-column">
            <div class="notifications col-xl-10">
                <div class="notifications__title">Рекламации</div>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Дата подачи</th>
                            <th>Комментарий</th>
                            <th>Резолюция</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for add in ads %}
                        <tr>
                            <td>{{ add.ordername }}</td>
                            <td>{{ add.dtdoc|dateFormat }}</td>
                            <td>{{ add.comment }}</td>
                            <td>{{ add.resolution }}</td>
                            <td>{{ add.state }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}