{% extends 'base.html' %}

{% block title %} Корзина {% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="cart-items col-xl-10">
            <table style="width: 100%; margin-bottom: 32px;">
                <thead>
                    <tr>
                        <th style="font-weight: 500; font-size: 18px;">Продукт</th>
                        <th style="font-weight: 500; font-size: 18px;">Наименование</th>
                        <th style="font-weight: 500; font-size: 18px;">Цена</th>
                        <th style="font-weight: 500; font-size: 18px;">Цена в бонусах</th>
                        <th style="font-weight: 500; font-size: 18px;">Количество</th>
                        <th style="font-weight: 500; font-size: 18px;">К оплате</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td><img src="{{ item.1.photo }}" width="122" height="122" alt=""></td>
                            <td style="font-size: 22px; font-weight: 600;">{{ item.1.title }}</td>
                            <td style="font-size: 25px; font-weight: 600; color: #EB6018;">{{ item.1.price }} ₽</td>
                            <td style="font-size: 25px; font-weight: 600; color: #EB6018;">{{ item.1.price_of_bonus }}</td>
                            <td>
                                <div class="store-item__data-count d-flex justify-content-between" style="margin-bottom: 0px;">
                                    <span onclick="minus(this, '{{item.1.price}}', '{{item.0}}')">-</span>
                                    <input type="text" value="{{ item.1.count }}">
                                    <span onclick="plus(this, '{{item.1.price}}', '{{item.0}}')">+</span>
                                </div>
                            </td>
                            <td style="font-size: 25px; font-weight: 600; color: #EB6018;">{{ item.1.all_price }}</td>
                            <td><a href="{% url 'cart_item_delete' item.0 %}"><img src="{% static 'img/ico/trash.svg' %}" alt=""></a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <a href="{% url 'store' %}" class="cart__btn" style="padding: 10px 20px; color: black;">Вернуться к магазину</a>
                <a href="{% url 'clear_cart' %}" class="cart__btn" style="padding: 10px 20px;">Очистить корзину</a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="results col-xl-8 d-flex flex-column justify-content-start">
            <div class="results__title">Итоги корзины</div>
            <div class="price d-flex justify-content-between">
                <div class="price__key">Итого</div>
                <div class="price__value total_price">{{ request.user.diler.total_price }}</div>
            </div>
            <button class="col-xl-3 cart__btn" style="padding: 10px 0px; margin-top: 16px;">Оформить заказ</button>
        </div>
    </div>
{% endblock content %}

{% block script %} 
    <script>
        function minus(element, price, id){
            i = element.nextElementSibling;
            if (i.value != 1){
                const xhr = new XMLHttpRequest();
                xhr.open("GET", "/minus/" + id + "/");
                xhr.responseType = 'json';
                xhr.send();
                xhr.onload = () => {
                    if (xhr.status == 200) {
                        if (xhr.response['success']) {
                            all_price = element.parentNode.parentNode.nextElementSibling
                            all_price.textContent = Number(all_price.textContent) - Number(price)
                            total_price = document.querySelector(".total_price")
                            total_price.textContent = Number(total_price.textContent) - Number(price)
                            i.value = Number(i.value) - 1
                        }
                    }
                }
            }
        }

        function plus(element, price, id){
            i = element.previousElementSibling;
            const xhr = new XMLHttpRequest();
            xhr.open("GET", "/plus/" + id + "/");
            xhr.responseType = 'json';
            xhr.send();
            xhr.onload = () => {
                if (xhr.status == 200) {
                    if (xhr.response['success']) {
                        all_price = element.parentNode.parentNode.nextElementSibling
                        all_price.textContent = Number(all_price.textContent) + Number(price)
                        total_price = document.querySelector(".total_price")
                        total_price.textContent = Number(total_price.textContent) + Number(price)
                        i.value = Number(i.value) + 1
                    }
                }
            }
        }

        function instock(stock, count, form){
            console.log(stock, count)
            if (Number(stock) >= Number(count)){
                form.submit()
            } else {
                alert("В наличии " + stock + "шт")
            }
        }
    </script>
{% endblock script %}

