{% extends 'base.html' %}

{% block title %} Корзина {% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="cart-items col-xl-10">
            <table style="width: 100%; margin-bottom: 32px;">
                <thead>
                    <tr>
                        <th style="font-weight: 500; font-size: 18px;">Продукт</th>
                        <th style="font-weight: 500; font-size: 18px;">Наименование</th>
                        <th style="font-weight: 500; font-size: 18px;">Цена</th>
                        <th style="font-weight: 500; font-size: 18px;">Цена в бонусах</th>
                        <th style="font-weight: 500; font-size: 18px;">Количество</th>
                        <th style="font-weight: 500; font-size: 18px;">К оплате</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="img/Rectangle 4.png" width="122" height="122" alt=""></td>
                        <td style="font-size: 22px; font-weight: 600;">Зразок фасадной системы</td>
                        <td style="font-size: 25px;font-weight: 600;color: #EB6018;">1500</td>
                        <td style="font-size: 25px;font-weight: 600;color: #EB6018;">1500</td>
                        <td><div class="store-item__data-count d-flex justify-content-between" style="margin-bottom: 0px;">
                            <span>-</span>
                            <input type="text" value="1">
                            <span>+</span>
                        </div></td>
                        <td style="font-size: 25px;font-weight: 600;color: #EB6018;">1500</td>
                        <td><img src="img/ico/trash.svg" alt=""></td>
                    </tr>
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button class="cart__btn" style="padding: 10px 20px;">Вернуться к магазину</button>
                <button class="cart__btn" style="padding: 10px 20px;">Обновить корзину</button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="results col-xl-8 d-flex flex-column justify-content-start">
            <div class="results__title">Итоги корзины</div>
            <div class="price d-flex justify-content-between">
                <div class="price__key">Промежуточный итог</div>
                <div class="price__value">1000</div>
            </div>
            <div class="price d-flex justify-content-between">
                <div class="price__key">Доставка</div>
                <div class="price__value">500</div>
            </div>
            <div class="price d-flex justify-content-between">
                <div class="price__key">Итого</div>
                <div class="price__value">1500</div>
            </div>
            <button class="col-xl-3 cart__btn" style="padding: 10px 0px; margin-top: 16px;">Оформить заказ</button>
        </div>
    </div>
{% endblock content %}