{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% block content %}
    <div class="row">
        <div class="new col-xl-10">
            <div class="new__title">Сертификаты</div>
            <div class="upload__items col-xl-12">
                {% for certificate in certificates %}
                <div class="upload__item">
                    <div class="d-flex align-items-center">
                        <img class="calendar" src="img/ico/calendar.svg" alt="">
                        <div class="new__item-date">{{ certificate.date }}</div>
                        <div class="new__item-title">{{ certificate.title }}</div>
                    </div>
                    <a class="download d-flex align-items-center" href="{{ certificate.file.url }}">
                        <div class="download__text">Скачать</div>
                        <img class="download__img" src="img/ico/download.svg" alt="">
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}