{% extends 'base.html' %}

{% block title %} Контакты {% endblock title %}

{% block content %}
    <div class="row">
        <div class="commands col-xl-9 d-flex justify-content-between">
            <div class="commands__person d-flex flex-column">
                <img src="img/store.png" height="303" width="323" alt="">
                <div class="commands__person-name"><span>ФИО:</span> Aimedin Chorobaev</div>
                <div class="commands__person-role"><span>Роль:</span> Директор</div>
                <div class="commands__person-email"><span>E-mail:</span> chaimedin2003@gmail.com</div>
                <div class="commands__person-phone"><span>Телефон:</span> +997774947602</div>
            </div>
            <div class="commands__person d-flex flex-column">
                <img src="img/store.png" height="303" width="323" alt="">
                <div class="commands__person-name"><span>ФИО:</span> Aimedin Chorobaev</div>
                <div class="commands__person-role"><span>Роль:</span> Директор</div>
                <div class="commands__person-email"><span>E-mail:</span> chaimedin2003@gmail.com</div>
                <div class="commands__person-phone"><span>Телефон:</span> +997774947602</div>
            </div>
            <div class="commands__person d-flex flex-column">
                <img src="img/store.png" height="303" width="323" alt="">
                <div class="commands__person-name"><span>ФИО:</span> Aimedin Chorobaev</div>
                <div class="commands__person-role"><span>Роль:</span> Директор</div>
                <div class="commands__person-email"><span>E-mail:</span> chaimedin2003@gmail.com</div>
                <div class="commands__person-phone"><span>Телефон:</span> +997774947602</div>
            </div>
        </div>
    </div>
{% endblock content %}