{% extends 'base.html' %}

{% block title %} Контакты {% endblock title %}

{% load static %}

{% block style %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"/>

<style>
    .body_inner {
        background: url('../static/img/football_1.jpg') 0 0/cover no-repeat;
    }

    .menu__link {
        color: white;
    }
</style>

{% endblock %}

{% block content %}
    <div class="row">
        <div class="team col-xl-9" style="margin-left: 180px; margin-top: 20px;">
            <div class="d-flex justify-content-between">
                <div class="employ" style="margin-top: 60px; margin-bottom: 60px;">
                    <div class="employ__inner">
                        <img src="{{ service.photo.url }}" height="200" width="200" alt="">
                        <div class="role">{{ service.get_role_display }}</div>
                        <div class="full_name">{{ service.fullName }}</div>
                        <div class="description">{{ service.description }}</div>
                        <div class="social d-flex">
                            <img src="{% static 'img/ico/mail.svg' %}" style="margin-right: 10px;" alt="">
                            <img src="{% static 'img/ico/telegram.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="employ" >
                    <div class="employ__inner">
                        <img src="{{ director.photo.url }}" height="200" width="200" alt="">
                        <div class="role">{{ director.get_role_display }}</div>
                        <div class="full_name">{{ director.fullName }}</div>
                        <div class="description">{{ director.description }}</div>
                        <div class="social d-flex">
                            <img src="{% static 'img/ico/mail.svg' %}" style="margin-right: 10px;" alt="">
                            <img src="{% static 'img/ico/telegram.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="employ" style="margin-top: 60px; margin-bottom: 60px;">
                    <div class="employ__inner">
                        <img src="{{ pricer.photo.url }}" height="200" width="200" alt="">
                        <div class="role">{{ pricer.get_role_display }}</div>
                        <div class="full_name">{{ pricer.fullName }}</div>
                        <div class="description">{{ pricer.description }}</div>
                        <div class="social d-flex">
                            <img src="{% static 'img/ico/mail.svg' %}" style="margin-right: 10px;" alt="">
                            <img src="{% static 'img/ico/telegram.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-between">
                <div class="employ" style="margin-top: 60px; margin-bottom: 60px;">
                    <div class="employ__inner">
                        <img src="{{ request.user.diler.calculator.photo.url }}" height="200" width="200" alt="">
                        <div class="role">Менеджер по расчетам</div>
                        <div class="full_name">{{ request.user.diler.calculator.fullName }}</div>
                        <div class="description">{{ request.user.diler.calculator.description }}</div>
                        <div class="social d-flex">
                            <img src="{% static 'img/ico/mail.svg' %}" style="margin-right: 10px;" alt="">
                            <img src="{% static 'img/ico/telegram.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="employ">
                    <div class="employ__inner">
                        <img src="{{ dev.photo.url }}" height="200" width="200" alt="">
                        <div class="role">{{ dev.get_role_display }}</div>
                        <div class="full_name">{{ dev.fullName }}</div>
                        <div class="description">{{ dev.description }}</div>
                        <div class="social d-flex">
                            <img src="{% static 'img/ico/mail.svg' %}" style="margin-right: 10px;" alt="">
                            <img src="{% static 'img/ico/telegram.svg' %}" alt="">
                        </div>
                    </div>
                </div>
                <div class="employ" style="margin-top: 60px; margin-bottom: 60px;">
                    <div class="employ__inner">
                        <img src="{{ request.user.diler.manager.photo.url }}" height="200" width="200" alt="">
                        <div class="role">Менеджер отдела развития</div>
                        <div class="full_name">{{ request.user.diler.manager.fullName }}</div>
                        <div class="description">{{ request.user.diler.manager.description }}</div>
                        <div class="social d-flex">
                            <img src="{% static 'img/ico/mail.svg' %}" style="margin-right: 10px;" alt="">
                            <img src="{% static 'img/ico/telegram.svg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}