{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="bonus col-xl-4">
            <div class="bonus__cart">
                <div class="bonus__cart-inner">
                    <div class="bonus__cart-title">Ваши бонусы</div>
                    <div class="bonus__cart-count">
                        <div class="ellipse"></div>
                        <div class="bonus__count">100</div>
                    </div>
                    <div class="bonus__cart-percent">
                        <div class="triangle"></div>
                        <div class="percent__value">+ 2.0%</div>
                        <div class="percent__description">больше чем в прошлом месяце</div>
                    </div>
                </div>
            </div>
            <div class="bonus__description">За продажу этих продуктов вам будут начислены бонусы, которые, Вы можете потратить в магазине.</div>
            <ul class="bonus__items">
                {% for bonus in bonuses %}
                <li class="bonus__item">
                    <img src="{% static 'img/ico/check.svg' %}" alt="">
                    <div class="bonus__item-title">{{ bonus.item.title }} - {{ bonus.count }} бонус</div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="new col-xl-6">
            <div class="new__title">Новинки</div>
            <div class="new__items col-xl-12">
                {% for new in news %}
                <div class="new__item">
                    <img class="calendar" src="{% static 'img/ico/calendar.svg' %}" alt="">
                    <div class="new__item-date">{{ new.date }}</div>
                    <div class="new__item-title">{{ new.title }}</div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}