{% extends 'base.html' %}

{% block title %} Настройка уведомлений {% endblock title %}

{% block content %}
    <div class="row">
        <form class="d-flex flex-column" action="{% url 'notifications' %}" method="post">
            {% csrf_token %}
            <div class="notifications col-xl-10">
                <div class="notifications__title">Настройка уведомлений</div>
                <table style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Получение уведомлений</th>
                            <th>Обмен накладными</th>
                            <th>Решение рекламаций</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="email_alert" {% if request.user.diler.email_alert %} checked {% endif %}>
                                    <span>E-mail</span>
                                </label>
                            </div></td>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="change_mail" {% if request.user.diler.change_mail %} checked {% endif %}>
                                    <span>Отправка по почте</span>
                                </label>
                            </div></td>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="ads_client" {% if request.user.diler.ads_client %} checked {% endif %}>
                                    <span>Решение с клиентом</span>
                                </label>
                            </div></td>
                        </tr>
                        <tr>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="sms_alert" {% if request.user.diler.sms_alert %} checked {% endif %}>
                                    <span>SMS</span>
                                </label>
                            </div></td>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="change_email" {% if request.user.diler.change_email %} checked {% endif %}>
                                    <span>Отправка по E-mail</span>
                                </label>
                            </div></td>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="ads_me" {% if request.user.diler.ads_me %} checked {% endif %}>
                                    <span>Решение  через меня</span>
                                </label>
                            </div></td>
                        </tr>
                        <tr>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="telegram_alert" {% if request.user.diler.telegram_alert %} checked {% endif %}>
                                    <span>Telegram</span>
                                </label>
                            </div></td>
                            <td class="table__item-center"><div class="checkbox">
                                <label class="custom-checkbox">
                                    <input type="checkbox" name="change_manager" {% if request.user.diler.change_manager %} checked {% endif %}>
                                    <span>Менеджером в руки</span>
                                </label>
                            </div></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="notifications-btn col-xl-2 mt-4" type="submit">Сохранить</button>
        </form>
    </div>
{% endblock content %}