{% extends 'base.html' %}

{% block title %} Заказы {% endblock title %}

{% load static %}

{% load custom_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="d-flex flex-column align-items-end" method="get" action="{% url 'orders' %}">
                <div class="period__title">Показать заказы за период</div>
                <div class="period__form col-xl-5 d-flex justify-content-end">
                    <div class="period__input">
                        <input type="date" name="create_date_from" reguired>
                    </div>
                    <div class="period__input">
                        <input type="date" name="create_date_to" required>
                    </div>
                </div>
                <button type="submit" class="period__button">Показать</button>
            </form>
        </div>
        <div class="row">
            <div class="search col-xl-5">
                <div class="search__title">Найти заказ</div>
                <form class="search__input" method="get" action="{% url 'orders' %}">
                    <input type="text" name="search" required>
                    <img src="{% static 'img/ico/search.svg' %}" onclick="this.parentNode.submit()" alt="">
                </form>
                <form class="search__count" method="get" action="{% url 'orders' %}">
                    <span>показать</span>
                    <select name="table_length" id="" onchange="this.parentNode.submit()">
                        <option value="5" {% if request.GET.table_length != '10' and request.GET.table_length != '20' %} selected {% endif %}>5</option>
                        <option value="10" {% if request.GET.table_length == '10' %} selected {% endif %}>10</option>
                        <option value="20" {% if request.GET.table_length == '20' %} selected {% endif %}>20</option>
                    </select>
                    <span>записей</span>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="orders">
                <div class="table-responsive">
                    <table class="col-xl-10">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Дата создания</th>
                                <th>Дата передачи в производство</th>
                                <th>Плановая дата отгрузки</th>
                                <th>Измененная дата отгрузки</th>
                                <th>Время доставки</th>
                                <th>Фактическая дата отгрузки</th>
                                <th>Текущее состояние заказа</th>
                                <th>Количество изделий</th>
                                <th>Общая площадь изделий</th>
                                <th>Стоимость заказа</th>
                                <th>Платеж по заказу</th>
                                <th>Профиль</th>
                                <th>Фурнитура</th>
                                <th>Стеклопакет</th>
                                <th>Заказ дилера</th>
                                <th>Комментарий</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in items %}
                            <tr>
                                <td>{{ order.order_name }}</td>
                                <td>{% if order.order_date_create %}{{order.order_date_create}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.date_start %}{{order.date_start}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.date_end_plan %}{{order.date_end_plan}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.dop_data %}{{order.dop_data}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.deliverytime %}{{order.deliverytime}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.date_end_fact %}{{order.date_end_fact}}{% else %}отсуствует{% endif %}</td>
                                <td>{{order.state_name}}</td>
                                <td>{{order.items_qu|intt}}</td>
                                <td>{{order.items_sqr|roundd}}</td>
                                <td>{{order.order_sm}}</td>
                                <td>{{order.sm_pay}}</td>
                                <td>{{order.prof_name}}</td>
                                <td>{{order.furn_name}}</td>
                                <td>{{order.sp_name}}</td>
                                <td>{% if order.No_dil %}{{order.No_dil}}{% else %}{% endif %}</td>
                                <td>{% if order.dop_comment %}{{order.dop_comment}}{% else %}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="custom-pagination d-flex justify-content-between col-xl-4 align-items-center">
                    {% if items.has_previous %}
                        <a class="left-arrow" href="?page={{ items.previous_page_number }}"><img src="{% static 'img/ico/left_arrow.svg' %}" alt=""></a>
                    {% endif %}
                    {% for i in items.paginator.page_range %}
                        {% if i > items.number|add:-4 and i < items.number|add:8 %}
                            {% if items.number == i %}
                                <a href="" class="pagination__item pagination__item-active">{{ items.number }}</a>
                            {% else %}
                                <a href="?page={{ i }}" class="pagination__item">{{ i }}</a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if items.has_next %}
                        <a class="right-arrow" href="?page={{ items.next_page_number }}"><img src="{% static 'img/ico/right_arrow.svg' %}" alt=""></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}