{% extends 'base.html' %}

{% block title %} Заказы {% endblock title %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <form class="d-flex flex-column align-items-end" method="get" action="{% url 'orders' %}">
                <div class="period__title">Показать заказы за период</div>
                <div class="period__form col-xl-5 d-flex justify-content-end align-items-center">
                    <span>от</span>
                    <div class="period__input">
                        <input type="date" class="date_from" value="{{from|date:'Y-m-d'}}" name="create_date_from" reguired>
                    </div>
                    <span>до</span>
                    <div class="period__input">
                        <input type="date" class="date_to" value="{{to|date:'Y-m-d'}}" name="create_date_to" required>
                    </div>
                </div>
                <button type="submit" class="period__button">Показать</button>
            </form>
        </div>
        <div class="row">
            <div class="search col-xl-5">
                <div class="search__title">Найти заказ</div>
                <div class="search__input">
                    <input type="text" class="search_input" required>
                    <img src="{% static 'img/ico/search.svg' %}" alt="">
                </div>
                <div class="d-flex">
                    <div class="search__count">
                        <span>показать</span>
                        <select class="table_length" id="">
                            <option value="5" selected>5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                        <span>записей</span>
                    </div>
                    <select class="table_length" id="filter" style="margin-left: 20px;">
                        <option value="" selected></option>
                        <option value="work">В производстве</option>
                        <option value="sklad">На складе</option>
                        <option value="loaded">Отгружен</option>
                        <option value="finish">Завершен</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="orders">
                <div class="table-responsive">
                    <table class="col-xl-10">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Дата создания</th>
                                <th>Дата передачи в производство</th>
                                <th>Плановая дата отгрузки</th>
                                <th>Измененная дата отгрузки</th>
                                <th>Время доставки</th>
                                <th>Фактическая дата отгрузки</th>
                                <th>Текущее состояние заказа</th>
                                <th>Количество изделий</th>
                                <th>Общая площадь изделий</th>
                                <th>Стоимость заказа</th>
                                <th>Платеж по заказу</th>
                                <th>Профиль</th>
                                <th>Фурнитура</th>
                                <th>Стеклопакет</th>
                                <th>Заказ дилера</th>
                                <th>Комментарий</th>
                            </tr>
                        </thead>
                        <tbody class="table_body">
                        </tbody>
                    </table>
                </div>
                <div class="custom-pagination d-flex col-xl-4 align-items-center">
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %} 
    <script src="{% static 'moment.js' %}"></script>
    <script>
        function unEscape(htmlStr) {
            htmlStr = htmlStr.replace(/&lt;/g , "<");	 
            htmlStr = htmlStr.replace(/&gt;/g , ">");     
            htmlStr = htmlStr.replace(/&quot;/g , "\"");  
            htmlStr = htmlStr.replace(/&#39;/g , "\'");   
            htmlStr = htmlStr.replace(/&amp;/g , "&");
            htmlStr = htmlStr.replaceAll('\\' , "\\\\");
            return htmlStr;
        }

        function main(){

            const table_length = document.querySelector(".table_length")
            const search_input = document.querySelector(".search_input")
            const filter_select = document.querySelector("#filter")


            let data = JSON.parse(unEscape("{{orders}}"));

            let currentPage = 1;

            function displayList(arrData, rowPerPage, page) {
                const t_body = document.querySelector(".table_body");
                t_body.innerHTML = "";
                page--;

                const start = rowPerPage * page;
                const end = start + rowPerPage;
                const paginatedData = arrData.slice(start, end);

                paginatedData.forEach((el) => {
                    const tr = document.createElement("tr");
                    tr.innerHTML = `<td>${el.order_name}</td>
                                    <td>${el.order_date_create==null ? 'отсутствует' : moment(el.order_date_create,"MMM D YYYY h:m:s:SSSa").format('DD.MM.YYYY')}</td>
                                    <td>${el.date_start==null ? 'отсутствует' : moment(el.date_start,"MMM D YYYY h:m:s:SSSa").format('DD.MM.YYYY')}</td>
                                    <td>${el.date_end_plan==null ? 'отсутствует' : moment(el.date_end_plan,"MMM D YYYY h:m:s:SSSa").format('DD.MM.YYYY')}</td>
                                    <td>${el.dop_data == null ? 'отсутствует' : moment(el.dop_data,"MMM D YYYY h:m:s:SSSa").format('DD.MM.YYYY')}</td>
                                    <td>${el.deliverytime == null ? 'отсутствует' : el.deliverytime}</td>
                                    <td>${el.date_end_fact==null ? 'отсутствует' : moment(el.date_end_fact,"MMM D YYYY h:m:s:SSSa").format('DD.MM.YYYY')}</td>
                                    <td>${el.state_name}</td>
                                    <td>${parseInt(el.items_qu)}</td>
                                    <td>${parseFloat(el.items_sqr).toFixed(2)}</td>
                                    <td>${el.order_sm}</td>
                                    <td>${el.sm_pay}</td>
                                    <td>${el.prof_name}</td>
                                    <td>${el.furn_name}</td>
                                    <td>${el.sp_name}</td>
                                    <td>${el.No_dil == null ? '' : el.No_dil}</td>
                                    <td>${el.dop_comment == null ? '' : el.dop_comment}</td>`
                    t_body.append(tr);
                })
            }

            function displayPagination(arrData, rowPerPage, page) {
                const pagination = document.querySelector('.custom-pagination');
                pagination.innerHTML = "";
                const pagesCount = Math.ceil(arrData.length / rowPerPage);

                
                if (page > 4){
                    if (page + 4 <= pagesCount){
                        for (let i = page-3; i < page+5; i++) {
                            const a = displayPaginationBtn(i);
                            pagination.appendChild(a)
                        }
                    } else {
                        for (let i = page-3; i < pagesCount+1; i++) {
                            const a = displayPaginationBtn(i);
                            pagination.appendChild(a)
                        }
                    }
                } else {
                    if (pagesCount < 8){
                        for (let i = 0; i < pagesCount; i++) {
                            const a = displayPaginationBtn(i + 1);
                            pagination.appendChild(a)
                        }
                    } else {
                        for (let i = 0; i < 8; i++) {
                            const a = displayPaginationBtn(i + 1);
                            pagination.appendChild(a)
                        }
                    }
                }
                
            }

            function displayPaginationBtn(page) {
                const a = document.createElement("a");
                a.classList.add('pagination__item')
                a.innerText = page

                if (currentPage == page) a.classList.add('pagination__item-active');

                a.addEventListener('click', () => {
                    currentPage = page
                    displayList(data, Number(table_length.value), currentPage)

                    let currentItemLi = document.querySelector('a.pagination__item-active');
                    currentItemLi.classList.remove('pagination__item-active');

                    a.classList.add('pagination__item-active');
                })

                return a;
            }

            
            displayList(data, Number(table_length.value), currentPage);
            displayPagination(data, Number(table_length.value), currentPage);


            table_length.addEventListener("change", (event) => {
                displayList(data, Number(event.target.value), currentPage);
                displayPagination(data, Number(event.target.value), currentPage);
            });

            search_input.addEventListener("input", search);

            filter_select.addEventListener("change", orders_filter)



            function search(e){
                const result = data.filter(el => el.order_name.indexOf(e.target.value) != -1);
                displayList(result, Number(table_length.value), currentPage);
                displayPagination(result, Number(table_length.value), currentPage);
            }


            function orders_filter(e){
                let result = data;
                if (e.target.value == "sklad") {
                    result = data.filter(el => el.state_name == "На складе");
                } else if (e.target.value == "work"){
                    result = data.filter(el => el.state_name == "В производстве");
                } else if (e.target.value == "loaded"){
                    result = data.filter(el => el.state_name == "Отгружен");
                } else if (e.target.value == "finish"){
                    result = data.filter(el => el.state_name == "Завершен");
                }
                displayList(result, Number(table_length.value), currentPage);
                displayPagination(result, Number(table_length.value), currentPage);
            }

        }


        main()




    </script>
{% endblock script %}