{% extends 'base.html' %}

{% block title %} Заказы {% endblock title %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="d-flex flex-column align-items-end">
                <div class="period__title">Показать заказы за период</div>
                <div class="period__form col-xl-5 d-flex justify-content-end">
                    <div class="period__input">
                        <input type="date">
                    </div>
                    <div class="period__input">
                        <input type="date">
                    </div>
                </div>
                <button class="period__button">Показать</button>
            </div>
        </div>
        <div class="row">
            <div class="search col-xl-5">
                <div class="search__title">Найти заказ</div>
                <div class="search__input">
                    <input type="text">
                    <img src="{% static 'img/ico/search.svg' %}" alt="">
                </div>
                <div class="search__count">
                    <span>показать</span>
                    <select name="" id="">
                        <option value="" selected disabled></option>
                        <option value="">10</option>
                        <option value="">20</option>
                        <option value="">30</option>
                        <option value="">50</option>
                        <option value="">Все</option>
                    </select>
                    <span>записей</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="orders">
                <div class="table-responsive">
                    <table class="col-xl-10">
                        <thead>
                            <tr>
                                <th>№</th>
                                <th>Дата создания</th>
                                <th>Дата передачи в производство</th>
                                <th>Плановая дата отгрузки</th>
                                <th>Измененная дата отгрузки</th>
                                <th>Время доставки</th>
                                <th>Фактическая дата отгрузки</th>
                                <th>Текущее состояние заказа</th>
                                <th>Количество изделий</th>
                                <th>Общая площадь изделий</th>
                                <th>Стоимость заказа</th>
                                <th>Платеж по заказу</th>
                                <th>Заказ дилера</th>
                                <th>Комментарий</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{order.order_name}}</td>
                                <td>{% if order.order_date_create %}{{order.order_date_create}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.date_start %}{{order.date_start}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.date_end_plan %}{{order.date_end_plan}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.dop_data %}{{order.dop_data}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.deliverytime %}{{order.deliverytime}}{% else %}отсуствует{% endif %}</td>
                                <td>{% if order.date_end_fact %}{{order.date_end_fact}}{% else %}отсуствует{% endif %}</td>
                                <td>{{order.state_name}}</td>
                                <td>{{order.items_qu}}</td>
                                <td>{{order.items_sqr}}</td>
                                <td>{{order.order_sm}}</td>
                                <td>{{order.sm_pay}}</td>
                                <td>{% if order.No_dil %}{{order.No_dil}}{% else %}{% endif %}</td>
                                <td>{% if order.dop_comment %}{{order.dop_comment}}{% else %}{% endif %}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}