{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="shape col-xl-9">
            <div class="shape__items d-flex justify-content-between">
                {% for item in items %}
                <div class="shape__item m-4">
                    <img src="{{ item.photo.url }}" height="303" width="323" alt="">
                    <div class="shape__item-title">{{ item.name }}</div>
                    <div class="proof">
                        <div class="proof__title">Теплоизоляция</div>
                        <ul class="d-flex">
                            {% for i in range %}
                                <li {% if i <= shape.warm_proofing %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="proof">
                        <div class="proof__title">Шумоизоляция</div>
                        <ul class="d-flex">
                            {% for i in range %}
                                <li {% if i <= shape.sound_proofing %} class="active" {% endif %}></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="shape__btn" onclick="this.nextElementSibling.style.display = 'block'; this.style.borderRadius = '0px 0px 50px 50px'">Подробнее</button>
                    <div class="shape__popup">
                        <img class="shape-popup__exit" src="{% static 'img/ico/exit.svg' %}" onclick="this.parentNode.style.display = 'none'; this.parentNode.previousElementSibling.style.borderRadius = '15px'" alt="">
                        <p class="shape-name">{{ item.name }}</p>
                        <div class="shape-attr d-flex justify-content-between">
                            <div class="shape-attr__key">Количество камер</div>
                            <div class="shape-attr__value">{{ shape.camera }}</div>
                        </div>
                        <div class="shape-attr d-flex justify-content-between">
                            <div class="shape-attr__key">Ширина профиля</div>
                            <div class="shape-attr__value">{{ shape.shape_width }}</div>
                        </div>
                        <div class="shape-attr d-flex justify-content-between">
                            <div class="shape-attr__key">Высота рамы</div>
                            <div class="shape-attr__value">{{ shape.shape_height }}</div>
                        </div>
                        <div class="shape-attr d-flex justify-content-between">
                            <div class="shape-attr__key">Ширина стеклопакета</div>
                            <div class="shape-attr__value">{{ shape.width_glaze }}</div>
                        </div>
                        <div class="shape-attr d-flex justify-content-between">
                            <div class="shape-attr__key">Шумоизоляция</div>
                            <div class="shape-attr__value">{{ shape.sound_proofing_dc }}</div>
                        </div>
                        <div class="shape-attr d-flex justify-content-between">
                            <div class="shape-attr__key">Сопротивление теплопередачи</div>
                            <div class="shape-attr__value">{{ shape.warm_proofing_dc }}</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
            <div class="custom-pagination d-flex col-xl-4 align-items-center justify-content-between">
                {% if items.has_previous %}
                    <a class="left-arrow" href="?page={{ items.previous_page_number }}"><img src="{% static 'img/ico/left_arrow.svg' %}" alt=""></a>
                {% endif %}
                {% for i in items.paginator.page_range %}
                    {% if i > items.number|add:-4 and i < items.number|add:8 %}
                        {% if items.number == i %}
                            <a href="" class="pagination__item pagination__item-active">{{ items.number }}</a>
                        {% else %}
                            <a href="?page={{ i }}" class="pagination__item">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <a class="right-arrow" href="?page={{ items.next_page_number }}"><img src="{% static 'img/ico/right_arrow.svg' %}" alt=""></a>
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}