{% extends 'base.html' %}

{% block title %} Магазин {% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="store col-xl-12">
            <div class="store__items d-flex flex-wrap">
                {% for item in items %}
                <div class="store-item d-flex col-xl-6">
                    <img src="{{ item.photo.url }}" width="255" height="330" alt="">
                    <form method="post" action="{% url 'cart' %}" class="store-item__data d-flex justify-content-between flex-column col-xl-4">
                        {% csrf_token %}
                        <div class="store-item__data-title">{{ item.title }}</div>
                        <div class="store-item__data-description">{{ item.description }}</div>
                        <div class="store-item__data-all">В наличии: {{ item.count }} шт</div>
                        <div class="store-item__data-bonus-price">{{ item.price_of_bonus }} б</div>
                        <div class="store-item__data-price">{{ item.price }} ₽</div>
                        <div class="store-item__data-count d-flex justify-content-between">
                            <span onclick="minus(this)">-</span>
                            <input type="text" name="count" value="1">
                            <span onclick="plus(this)">+</span>
                        </div>
                        <input type="text" name="item_id" value="{{ item.id }}" hidden>
                        <button type="button" onclick="instock('{{item.count}}', this.previousElementSibling.previousElementSibling.getElementsByTagName('input')[0].value, this.parentNode)" class="cart__btn" style="padding: 10px 20px;">Добавить в корзину</button>
                    </form>
                </div>
                {% endfor %}
            </div>
            <div class="custom-pagination d-flex col-xl-4 align-items-center">
                {% if items.has_previous %}
                    <a class="left-arrow" href="?page={{ items.previous_page_number }}"><img src="{% static 'img/ico/left_arrow.svg' %}" alt=""></a>
                {% endif %}
                {% for i in items.paginator.page_range %}
                    {% if i > items.number|add:-4 and i < items.number|add:8 %}
                        {% if items.number == i %}
                            <a href="" class="pagination__item pagination__item-active">{{ items.number }}</a>
                        {% else %}
                            <a href="?page={{ i }}" class="pagination__item">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                {% if items.has_next %}
                    <a class="right-arrow" href="?page={{ items.next_page_number }}"><img src="{% static 'img/ico/right_arrow.svg' %}" alt=""></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block script %} 
    <script>
        function minus(element){
            i = element.nextElementSibling;
            if (i.value != 0){
                i.value = Number(i.value) - 1
            }
        }
        function plus(element){
            i = element.previousElementSibling;
            i.value = Number(i.value) + 1
        }
        function instock(stock, count, form){
            console.log(stock, count)
            if (Number(stock) >= Number(count)){
                form.submit()
            } else {
                alert("В наличии " + stock + "шт")
            }
        }
    </script>
{% endblock script %}