{% extends 'base.html' %}

{% block title %} Гарантийный талон {% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="col-xl-10">
            <div class="ads-info"><img src="{% static 'img/ico/info.svg' %}" alt=""> Внимание <br> Гарантийный талон будет отправлен на почту указанный в профиле</div>
        </div>
    </div>
    <div class="row">
        <form action="{% url 'talon' %}" class="talon col-xl-10" method="post">
            {% csrf_token %}
            <div class="profile__title">Распечатать гарантийный талон</div>
            <div class="col-xl-5">
                <div class="d-flex flex-column">
                    <div class="auth__input col-xl-10">
                        <input type="text" placeholder="Введите номер заказа в формате О\000000 или П\000000" name="order_id">
                    </div>
                    <button class="col-xl-4" type="button" onclick="checkEmail('{{request.user.diler.email}}', this.parentNode.parentNode.parentNode)">Распечатать</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}


{% block script %} 
    <script>
        function checkEmail(email, form){
            if (email != ""){
                form.submit()
            } else {
                alert("Заполните email на странице профиля")
            }
        }
    </script>
{% endblock script %}