{% extends 'base.html' %}

{% block title %} Гарантийный талон {% endblock title %}

{% block content %}
    <div class="row">
        <form action="{% url 'talon' %}" class="talon col-xl-10" method="post">
            {% csrf_token %}
            <div class="profile__title">Распечатать гарантийный талон</div>
            <div class="col-xl-5">
                <div class="d-flex flex-column">
                    <div class="auth__input col-xl-10">
                        <input type="text" placeholder="Ввведите номер заказа" name="order_id">
                    </div>
                    <button class="col-xl-4" type="submit">Распечатать</button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}