{% extends 'base.html' %}

{% block title %}{% endblock title %}

{% load static %}

{% block content %}
    <div class="row">
        <div class="new col-xl-10">
            <div class="new__title">Видео материалы</div>
            {% for video in videos %}
            <div class="upload__items col-xl-12">
                <div class="upload__item">
                    <div class="d-flex align-items-center">
                        <img class="calendar" src="{% static 'img/ico/calendar.svg' %}" alt="">
                        <div class="new__item-date">{{ video.date }}</div>
                        <div class="new__item-title">{{ video.title }}</div>
                    </div>
                    <a class="download d-flex align-items-center" href="{{ video.file.url }}">
                        <div class="download__text">Скачать</div>
                        <img class="download__img" src="{% static 'img/ico/download.svg' %}" alt="">
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}