@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;700;800&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0px;
    padding: 0px;
}

html {
    min-width: 1440px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}

body.auth {
    background: url('img/auth-bg.jpg') 0 0/100% auto no-repeat;
}

.login {
    padding: 40px 40px;
    background: #fff;
    border-radius: 24px;
    width: 100%;
    max-width: 528px;
    margin: auto;
}

.login .title {
    text-align: center;
    margin-bottom: 40px;
}

.login_input{
    border: 1px solid #000;
    padding: 10px;
    border-radius: 8px;
    margin: 14px 0px;
    transition: all 0.3s;
}

.login_input img{
    vertical-align: middle;
}

.login_input input{
    border: 0px none;
    outline: 0px none;
    font-size: 16px;
}

.form_recovery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    margin-top: 25px;
}

.form_recovery a {
    color: #95D5EC;
    text-decoration: none;
}

.login form button {
    width: 100%;
    border: 0;
    border-radius: 8px;
    background: #95D5EC;
    color: #000;
    padding: 10px 16px;
    font-size: 18px;
}


.form__agent {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__agent p{
    margin: 0;
}

.form__agent a{
    color: #95D5EC;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.support {
    max-width: 528px;
    margin: 10px auto; 
    text-align: center; 
    font-size: 12px;
}


.home {
    display: flex;
    flex-direction: row;
}


.navbar {
    background: #95D5EC;
    width: 320px;
}


.navbar_brand {
    text-align: center;
    margin: 55px 0px 25px 0px;
}


.navbar_profile {
    text-align: center;
}

.navbar_profile .ava{
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.navbar_profile .ava a{
    text-decoration: none;
    font-size: 12px;
    color: #EB6018;
    border-bottom: #EB6018 1px solid;
    margin-left: 5px;
}

.navbar_profile .ava a img{
    vertical-align: baseline;
    margin-right: 1.5px;
}

.navbar_profile .p{
    font-size: 14px;
    color: #1F2428;
}


.navbar_links nav ul {
    padding-left: 0px;
}

.navbar_links nav ul li{
    list-style: none;
    padding-left: 25px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    white-space: nowrap;
}


.navbar_links nav ul li div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar_links nav ul li ul{
    display: none;
}

.navbar_links nav ul li ul li{
    list-style: none;
    padding-left: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
}

.navbar_links nav ul li ul li:last-child{
    margin-bottom: 0px;
}


.navbar_links nav ul li ul li a{
    padding-left: 0px;
}

.navbar_links nav ul li ul li img{
    vertical-align: baseline;
    margin-left: 8px;
}



.navbar_links nav ul li.not-img{
    padding-left: 15px;
}


.navbar_links nav ul li a{
    font-size: 17px;
    color: #565656;
    text-decoration: none;
    padding-left: 10px;
}


.navbar_links nav ul li:last-child{
    margin-bottom: 100px;
}


.navbar_links nav ul .border{
    border: 1.00069px solid #EB6018;
    margin: 25px 25px 0px;
    margin-bottom: 30px;
}

.nav_link_active {
    border: 1px solid #EB6018;
    border-radius: 20px;
}

.nav_link_active_a {
    color: #1A1A1A;
    font-weight: 600;
}

.content{
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    padding: 32px 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.menu {
    display: flex;
    margin: 0px 180px 0px 270px;
}

.menu_link {
    margin-left: 32px;
    text-decoration: none;
    font-size: 17px;
    color: #1F2428;
    font-weight: 400;
}

.menu_link_active{
    font-weight: 600;
    text-decoration: underline;
}

.menu_link:first-child {
    margin-left: 0px;
}

.service-icons img:first-child{
    margin-right: 16px;
}

.homesection {
    display: flex;
}

.homesection .left {
    width: 388px;
    margin: 40px 54px 0px 36px;
}


.homesection .left .bonus{
    display: flex;
    flex-direction: column;
    background-color: #95D5EC;
    padding: 28px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}
.homesection .bonus_title {
    font-size: 18px;
    font-weight: 400;
    color: #1F2428;
}


.homesection .left .bonus .bonus_total{
    display: flex;
    margin: 16px 0px;
}

.homesection .left .bonus .bonus_total p{
    font-size: 36px;
    font-weight: 600;
    color: #1F2428;
    margin: 0px 0px 0px 5px;

}

.homesection .left .bonus .bonus_percent{
    display: flex;
    align-items: baseline;
}

.homesection .left .bonus .bonus_percent img{
    margin-right: 6px;
}

.homesection .left .bonus .bonus_percent .percent{
    margin-right: 9px;
    font-size: 18px;
    font-weight: 700;
    color: #EB6018;
}

.homesection .left .bonus .bonus_percent .percent_title{
    font-size: 18px;
    font-weight: 400;
    color: #1F2428;
    line-height: 20px;
}

.homesection .left .subtitle{
    font-size: 20px;
    font-weight: 400;
    color: #1F2428;
    margin: 32px 0px;
    line-height: 30px;
}


.homesection .left ul{
    padding-left: 0;
}

.homesection .left ul li{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.homesection .left ul li img{
    margin-right: 3px;
}


.homesection .left ul li p{
    font-size: 24px;
    font-weight: 600;
    color: #1F2428;
    margin-bottom: 32px;
}


.new-items {
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 602px;
    margin: 40px 76px 0px 0px;
    padding: 36px 16px;
}

.new-items .title{
    font-size: 24px;
    font-weight: 600;
    color: #313131;
    margin-left: 36px;
}

.new-item {
    display: flex;
    padding: 15px 0px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 16px 0px;
}

.new-item p{
    margin: 0px;
}
.new-item img.date {
    padding-left: 18px;
}

.new-item_date {
    padding: 0px 26px 0px 8px;
}


.newsection .new-items{
    width: 80%;
    margin: 50px 0px 0px 50px;
}


.insection .new-items{
    width: 80%;
    margin: 50px 0px 0px 50px;
}

.insection .new-items .new-item {
    display: flex;
    padding: 15px 0px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin: 16px 0px;
    align-items: center;
}


.insection .new-items .new-item div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-right: 170px;
}

.insection .new-items .new-item div a {
    text-decoration: none;
    color: #EB6018;
}

.insection .new-items .new-item div a img{
    margin-left: 15px;
    border-bottom: #EB6018 1px solid;
}


.paysection .pay {
    width: 80%;
    height: 816px;
    margin: 50px 0px 0px 50px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 40px 0px 0px 40px;
}


.paysection .pay .title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.paysection .pay .order_id {
    display: flex;
    align-items: baseline;
}

.paysection .pay .order_id p{
    font-style: 16px;
    font-weight: 600;
    margin-right: 16px;
    margin-bottom: 20px;
    margin-left: 5px;
}


.paysection .pay .order_id div{
    font-style: 16px;
    font-weight: 600;
    margin-right: 16px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.paysection .pay .order_id form {
    display: flex;
    flex-direction: column;
}


.paysection .pay .order_id form a{
    width: 200px;
    display: block;
    background: #95D5EC;
    border-radius: 15px;
    padding: 10px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    font-weight: 700;
}


.popup {
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 40px;
    width: 328px;
    margin-left: -200px;
    background: #fff;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
    text-align: center;
}


.popup-fade {
    display: none;
}

.popup-order {
    display: none;
}


.popup-order .popup a{
    display: block;
    padding: 10px 0px;
    background: #95D5EC;
    border-radius: 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
}


.popup-fade::before {
    content: "";
    background: #000;
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    z-index: 9999;
}

.profilesection .profile {
    width: 80%;
    height: 816px;
    margin: 50px 0px 0px 50px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    padding: 40px 0px 0px 40px;
}

.profilesection .profile p{
    font-size: 24px;
    font-weight: 600;
}


.profilesection .profile .login_input{
    width: 460px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.profilesection .profile button{
    background: #95D5EC;
    border-radius: 15px;
    border: none;
    padding: 10px 75px;
}

.orderssection .orders{
    width: 90%;
    margin: 70px 36px 0px;

}

.orderssection .orders .date_sort{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.orderssection .orders .date_sort .date_title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 18px;
}

.orderssection .orders .date_sort .date_inputs{
    display: flex;
}

.orderssection .orders .date_sort .date_inputs .date_input{
    border: 1px solid #95D5EC;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 6px 40px;
}


.orderssection .orders .date_sort .date_inputs .date_input:first-child{
    margin-right: 10px;
}


.orderssection .orders .date_sort .date_inputs .date_input input{
    border: 0px none;
    outline: 0px none;
    font-size: 16px;
}


.orderssection .orders .date_sort button{
    background: #95D5EC;
    border-radius: 15px;
    border: none;
    padding: 10px 70px;
    margin-top: 10px;
}

.orderssection .orders .search_orders p{
    font-weight: 600;
    font-size: 17px;
    margin-bottom: 12px;
}

.orderssection .orders .search_orders .search_input{
    display: flex;
    flex-wrap: nowrap;
    width: 420px;
    border: 1px solid #95D5EC;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    padding: 6px 0px;
    margin-bottom: 16px;
}

.orderssection .orders .search_orders .search_input input{
    width: 100%;
    border: 0px none;
    outline: 0px none;
    font-size: 16px;
}

.orderssection .orders .search_orders .search_input img{
    margin-right: 12px;
}


.orderssection .orders .search_orders .search_count select{
    width: 54px;
    height: 40px;
    border: 1px solid #95D5EC;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}


.orderssection .orders .search_orders .search_count span{
    font-weight: 400;
    font-size: 17px;
}

.orderssection .orders .search_orders .search_count span:first-child{
    margin-right: 8px;
}

.orderssection .orders .search_orders .search_count span:last-child{
    margin-left: 8px;
}



.orderssection .orders .search_orders .search_count{
    margin-bottom: 40px;
}

.orders_table {
    overflow:hidden ;
    border-radius: 20px;
    box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.05);
}

.table{
    border-spacing: 0;
	box-shadow: 0px 4px 54px rgba(0, 0, 0, 0.03);
    border-collapse: collapse;
    border-style: hidden;
}

.table div{
    overflow: hidden;
    border-radius: 20px;
}

.table th, .table td{
    text-align: center;
    padding: 25px;
}

.table th{
    background: #95D5EC;
    color: #0B344B;
}


.notsssection .settings{
    margin: 40px 0px 0px 60px;
}

.notsssection .settings .orders_table {
    width: 1100px;
    min-width: 1100px;
}

.notsssection .settings .orders_table .table tr td .custom-checkbox span{
    margin-left: 5px;
}

.notsssection .settings .table th, .notsssection .settings .table td {
    padding: 23px 100px;
}

.table__item-center {
    text-align: center;
    margin: 0px auto;
}


.notsssection .settings p{
    padding: 40px;
    font-weight: 600;
    font-size: 24px;
}

.notsssection button {
    background: #95D5EC;
    border-radius: 15px;
    border: none;
    padding: 10px 70px;
    margin-top: 30px;
}

.cartsection {
    width: 833px;
    height: 724px;
    position: relative;
}


.cartsection svg:hover path{
    stroke: #EB6018;
    fill: #EB6018;
}

.cartsection svg:hover text:last-child{
    display: block;
}

.servicesection {
    width: 1000px;
    min-width: 1000px;
}

.servicesection .services{
    margin: 40px 0px 0px 60px;

}

.servicesection .services .alert{
    margin-bottom: 30px;

}

.servicesection .services .alert .text{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    color: #EB6018;
    margin-bottom: 25px;
}

.servicesection .services .alert .btns{
    display: flex;
}

.servicesection .services .alert .btns button{
    width: 200px;
}

.servicesection .services .alert .btns button:first-child{
    border: 1px solid #EB6018;
    border-radius: 15px;
    padding: 10px auto;
    margin-right: 120px;
    font-weight: 700;
    font-size: 14px;
    color: #EB6018;
}

.servicesection .services .alert .btns button:last-child{
    background: #95D5EC;
    border-radius: 15px;
    padding: 10px 23px;
    white-space: nowrap;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

.servicesection .alert .title{
    display: flex;
    margin: 0 auto;
}

.servicesection .alert .title img{
    margin-right: 5px;
}


.servicesection .alert .btns{
    display: flex;
    justify-content: center;
}

.servicesection .services .reclama {
    padding: 40px;
    font-weight: 600;
    font-size: 24px;
}


.servicesection .services .table{
    width: 100%;
}


.popup-service .popup a{
    display: block;
    padding: 10px 0px;
    background: #95D5EC;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
    width: 200px;
    margin: 0 auto;
}


.popup-service .popup p{
    font-weight: 400;
    font-size: 16px;
    margin: 28px 0px 261px 0px;
}


.popup-service .popup{
    position: fixed;
    top: 20%;
    left: 50%;
    padding: 40px;
    width: 516px;
    height: 571px;
    margin-left: -200px;
    background: #fff;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
    text-align: center;
}

.popup-service .popup h1 {
    font-weight: 700;
    font-size: 16px;
    color: #000000;
}


.adssection {
    padding: 50px;
}

textarea {
    padding: 20px 30px;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
    max-width: 1130px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    resize: none;
}

.adssection h1 {
    font-weight: 700;
    font-size: 24px;
    text-transform: capitalize;
}

.adssection .data {
    margin-bottom: 16px;
    font-size: 14px;
}

.adssection .data p{
    margin-bottom: 6px;
    font-weight: 400;
}

.adssection .data p span{
    font-weight: 600;
}

.adssection .adsdescription {
    display: flex;
    flex-direction: column;
}

.adssection .adsdescription .upload_files {
    display: flex;
    margin-top: 12px;
    margin-bottom: 12px;
}

.adssection .adsdescription p{
    margin-bottom: 12px;
}

.adssection .adsdescription .upload_files div {
    padding: 17.25px 24.25px;
    background-color: #fff;
    margin: 0px 36px;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}


.storesection {
    padding: 100px 50px 50px 50px;
}

.storesection .store{
    width: 1200px;
}

.storesection .store .items {
    display: flex;
    flex-wrap: wrap;
}


.storesection .store .items .item{
    display: flex;
    width: 500px;
    margin-right: 25px;
    margin-bottom: 50px;
}

.storesection .store .items .item img{
    margin-right: 16px;
}


.storesection .store .items .item .description .title{
    font-weight: 600;
    font-size: 22px;
    color: #1F2428;
    margin-bottom: 16px;
}


.storesection .store .items .item .description .subtitle {
    font-weight: 400;
    font-size: 16px;
    color: #1F2428;
    margin-bottom: 16px;
}


.storesection .store .items .item .description .price {
    font-weight: 600;
    font-size: 25px;
    line-height: 60px;
    color: #EB6018;
}


.storesection .store .items .item .description div {
    width: 99px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #95D5EC;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 5px;
    text-align: center;
    padding: 10px 40px;
}


.storesection .store .items .item .description div input {
    width: 100%;
    border: 0px none;
    outline: 0px none;
    font-size: 16px;
}


.storesection .store .items .item .description button {
    white-space: nowrap;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    background-color: #95D5EC;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}


.pagination {
    width: 500px;
    margin: 32px auto;
    display: flex;
    padding: 21px 24px;
    background: #F7F9FF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    align-items: center;
}

.pagination .arrow img{
    vertical-align: middle;
}

.pagination .arrow:first-child{
    margin-left: 24px;
    margin-right: 30px;
}


.pagination .arrow:last-child{
    margin-left: 30px;
    margin-right: 24px;
}


.pagination_item_active{
    padding: 4px 8px;
    background-color: #95D5EC;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}

.pagination_item {
    margin-right: 24px;
}

.pagination_item a {
    font-weight: 600;
    font-size: 12px;
    color: #656565;
    text-decoration: none;
}


.pagination_item:last-child{
    margin-right: 0px;
}

.shapesection  {
    padding: 100px 50px 50px 50px;
}

.shapesection  .shapes{
    width: 1000px;
}

.shapesection .shapes .items {
    display: flex;
    flex-wrap: nowrap;
}


.shapesection .shapes .items .item{
    margin-right: 40px;
    position: relative;
}

.shapesection .shapes .items .item:last-child{
    margin-right: 0px;
    
}

.shapesection .shapes .items .item .item_popup{
    background: #95D5EC;
    border-radius: 48px;
    padding: 30px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.shapesection .shapes .items .item .item_popup img{
    margin-bottom: 70px;
}



.shapesection .shapes .items .item .item_popup p.name{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}


.shapesection .shapes .items .item .item_popup .attr{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    font-size: 16px;
}


.shapesection .shapes .items .item .item_popup .attr p:last-child{
    font-weight: 600;
}


.shapesection .shapes .items .item .proof ul{
    padding-left: 0px;
    display: flex;
}

.shapesection .shapes .items .item .proof p.title{
    font-weight: 300;
    font-size: 20px;
}


.shapesection .shapes .items .item .proof ul li{
    list-style: none;
    background: #E8E8E8;
    border-radius: 5px;
    width: 24px;
    height: 24px;
    margin-right: 8px;

}



.shapesection .shapes .items .item .proof ul li:last-child{
    margin-right: 0px;
}


.shapesection .shapes .items .item .proof ul li.active{
    background: #EB6018;
}


.shapesection .shapes .items .item p.name{
    margin: 20px 0px;
    font-weight: 600;
    font-size: 24px;
}



.shapesection .shapes .items .item button{
    white-space: nowrap;
    border: none;
    border-radius: 15px;
    padding: 10px 0px;
    width: 100%;
    background-color: #95D5EC;
    font-weight: 700;
    font-size: 15px;
    color: #000000;
}


